/*
Author: Sampath Wijeratne
License: GPLv2 or later
*/

.options_set{padding:20px 40px; background:#f6fcfb; border:1px solid #d5e2df; margin-bottom: 20px;}
.sw_plugin_subtitle{font-size: 20px; padding-top: 10px;}
.sw_plugin_ntc{font-weight: normal !important;}